.header-top{
    background-color: #1d7ad9;
    
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top span{
    color: white;
}
.login,
.register{
    height: 40PX;
    border: none;
    background-color: #1d7ad9;
    color: white;
    border-left: 1px solid white;
}
.register:hover,
.register:focus,
.login:hover,
.login:focus{
    background-color: white;
    color: black;
    width: 106px;
}
.button{
    outline: none;
}


.header-bottom{
    height: 100px;
    background-color: #f9f9f9;
}
.list-item{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-item-1{
    margin-left: 60px;
}
.home,
.custom-made,
.standard,
.quality{
    background-color: white;
    border: none;
    height: 48px;
    box-shadow: 0 0 5px #e6e6e6;
    border-radius: 3px;
    box-sizing:content-box;
    padding: 0 20px; 
    font-size: 16px;
}
.home:hover,
.custom-made:hover,
.standard:hover,
.quality:hover,
.home:focus,
.custom-made:focus,
.standard:focus,
.quality:focus{
    background-color: #1d7ad9;
    color: white;
}









.footer-bottom{
    background-color: #1d7ad9;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 0;
}
.box2{
}
.footer-bottom span{
    color: white;
    font-size: 14px;
     
    
}