html,
body,
div,
p {
margin: 0;
padding: 0;
border:0;
}
html {
    font-size: 65%；
}
.header {
    position: fixed;
    bottom: 0;
    top: 0;
    background-color:#6fc0d7;
    height: 5rem;
    width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 5rem;
}
.logo1{
    width: 7.2rem;
    height:3.5rem;
    background-color: #55a8b3;
    color: white;
    border: 0;
}
.logo2{
    width: 7.2rem;
    height:3.5rem;
    color:  #55a8b3;
    background-color: white;
    border: 0;
}