html,
body,
p,
div{
margin: 0;
padding: 0;
border: 0 ;
}
.content { 
    width: 100%;
    background-color: rgb(104,205,213);  
}
.first-pic {
    width: 54px;
    height: 54px;
    padding : 19px 0 0 32px;
}
.secend-pic {
    width: 184px;
    height: 74px;
    margin:0 auto;
    padding-top : 40px;
}
.center{
    padding-top: 112px;
    padding-bottom:178px;
}
.third-pic {
    width: 86px;
    height: 86px;
    padding-left: 20%;
    display: inline-block;
}
.forth-pic {
    width: 85px;
    height: 85px;
    display: inline-block;
    float: right;
    padding-right: 20%; 
}
.mark-three{
    width: 70%;
    height: 20%;
    margin: 0 auto;
    font: "Microsoft Yahei";
    color: white;
    font-size: 29px;
}
.bottom{
    padding-top: 24px;
    padding-bottom: 30%

}
.mark-two,
.mark-one {
    width: 86px;
    height: 86px;
    color: white;
    font-size: 28px;
    display: inline-block;
}
.mark-one {
    padding-left: 16.5%;
}
.mark-two{
    float: right;
    padding-right: 20%;  
}