/* .bgcolor{
    background-color: red;
    height: 100px;
    width: 100px;
}
.Bgcolor{
    background-color: green;
} */

.wrapp{
    width: 302px;
    height: 600px;
    /* border: red 1px solid; */
}
ul{
    font-size: 0;
    padding: 0;
}
.border1{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.border2{
    border-top:2px red solid;
}  

.day{
    font-size: 16px;
    width: 100px;
    height: 40px;
    background-color: #ccc;
    list-style: none;
    display: inline-block;
}
.part{
    border: #cecece 1px solid;
    width: 300px;
    height: 200px;
    display: none;
}

.active2{
    display: block;
}