body{
    margin: 0;
    height: 100%;
}
.wrap{
    width:100%;
    background-color: #29bde0;
    height: 100%;
    /* margin: 0 40%; */
    /* margin-top: 100px; */
}
#header{
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 60px;
    border-bottom: #74d4eb 1px solid;
}
#headerLeft{
    background: url(img/back.png) no-repeat;
    height: 20px;
    width: 12px;
    background-size: 12px 20px;
    margin-left: 20px;
    border:0;
}
.headerRight{
    background: url(img/close.png) no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin-right: 20px;
    border:0;
}
#num{
    text-align: center;
    border: 0;
    position: absolute;
    margin-top: -12.5px;
    margin-left: -12.5px;
    top: 28.5%;
    left: 50%;
    height: 25px;  
    width: 25px;
    border-radius: 50%;
    color: orange;
    background-color: white;
    z-index: 5;
}
#section{
    position: relative;
    height: 260px;
    width: 70%;
    margin: 10% 15%;
    background-color: #FDEFCC;
}
#wrapper{
    display: block;
}
#section .pic2{
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    left: 50%;
    top: 45%;
    background:url(img/pic2.jpg) no-repeat; 
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size:80px 80px;
}
#section #textRole{
    position: absolute;
    margin-top: -10.5px;
    margin-left: -16px;
    top: 70%;
    left: 50%;
    font-weight: bold;
    color: #74d4eb;
}
#section .pic2 .textRole{
    text-align: center;
    /* margin-top: 10px; */
}
#section #pic{
    display: none;
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    left: 50%;
    top: 50%;
    background:url(img/pic1.jpg) no-repeat; 
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size:80px 80px;
}
#voteBtn{
    font-size: 20px;
    border: 0;
    width: 60%;
    height: 40px;
    background-color: #fbb435;
    /* margin-top: -20px; */
    margin:30px 20%;
    color: white;
}