


.work{
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    @media screen and (min-width:1200px){
        width: 1140px;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    width: 940px;
    }
    @media screen and (min-width:768px) and (max-width:989px){
        width: 720px;
        }
    @media screen and (min-width:280px) and (max-width:767px){
        margin: 0 15px;
        }
    .work1{
        color: #29b078
    }
}
.choice{
    display: flex;
    border-top: rgba(208, 204, 217, .5) 1px solid;
    border-bottom: rgba(208, 204, 217, 1) 1px solid;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1200px){
    width: 1140px;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    width: 940px;
    }
    @media screen and (min-width:768px) and (max-width:989px){
    width: 720px;
    }
    @media screen and (min-width:280px) and (max-width:767px){
        margin:0 15px;
        flex-direction: row;
        flex-wrap: wrap;
    } 
}
    .choice1{
        padding: 20px; 
        
        display: flex;
        align-items: center;
        margin: 0;
        @media screen and (min-width:280px) and (max-width:767px){
            flex-direction: row;
            flex-wrap: wrap;
            
        } 
    }
    .list2{
        display: inline-block;
        margin-right: 30px;
        font-size: 14px; 
    }
    
    .list2-choice:hover{
        background-color:rgba(41, 176, 120, 1);
        color: white;
    }
    .list2-choice{
        display: inline-block;
        margin-right: 30px;  
        font-size: 14px;
        padding: 0 4px;
        
    }
    .list2-special{
        background-color: rgba(41, 176, 120, 1);
    }
    .choice2{
        height: 70px;
        line-height: 70px;
        font-weight: bold; 
        margin-bottom: 47px;
        font-size: 13px;
        border-bottom: rgba(208, 204, 217, .5) 1px solid;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width:1200px){
        width: 1140px;
        }
        @media screen and (min-width:990px) and (max-width:1200px){
        width: 940px;
        }
        @media screen and (min-width:768px) and (max-width:989px){
        width: 720px;
        
        }
        @media screen and (min-width:280px) and (max-width:767px){
            margin:0 15px;
        } 
    }
    
ul a:hover,
ul a:focus {   
    text-decoration: none;
    color: white;
} 
a{
    text-decoration: none;
}   
.wrap6{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1200px){
        width: 1140px;
        flex-wrap: wrap;
        }
        @media screen and (min-width:990px) and (max-width:1200px){
        width: 940px;
        flex-flow:row wrap;

        }
        @media screen and (min-width:768px) and (max-width:989px){
        width: 720px;
        flex-direction: column;
        }
        @media screen and (min-width:280px) and (max-width:767px){
            margin:0 15px;
            flex-direction: column;
        }
}

.all1{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid rgba(238, 237, 237, 1);
    border-bottom: 0;
    margin-bottom: 10px;
    @media screen and (min-width:1200px){
    margin-right: 2%;
    max-width: 31%;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    max-width: 48%;
    margin-right: 3.5%;
    }
    @media screen and (min-width:768px) and (max-width:989px){
    width: 720px;
    }
    
}
.all2{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid rgba(238, 237, 237, 1);
    border-bottom: 0;
    margin-bottom: 10px;
    @media screen and (min-width:1200px){
    margin-left: 1%;
    margin-right: 1%;
    max-width: 31%;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    max-width: 48%;
    
    }
    @media screen and (min-width:768px) and (max-width:989px){
    width: 720px;
    } 
}
.all3{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid rgba(238, 237, 237, 1);
    border-bottom: 0;
    margin-bottom: 10px;
    @media screen and (min-width:1200px){
    margin-left:2%;
    max-width: 31%;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    max-width: 48%;
    margin-right: 1.8%;
    }
    @media screen and (min-width:768px) and (max-width:989px){
    width: 720px;
    }
    
}
.all4{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid rgba(238, 237, 237, 1);
    border-bottom: 0;
    margin-bottom: 240px;
    @media screen and (min-width:1200px){
    
    max-width: 31%;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    max-width: 48%;
    }
    @media screen and (min-width:768px) and (max-width:989px){
    width: 720px;
    
    }
    
}
 .small-wrap{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    display: none;   
    z-index: 10;  
    color: white;
    padding: 0 50px; 
    
    .engineer{
        text-align: center;
        padding-bottom: 30px;
        font-size: 16px;
        padding-top: 80px;
        font-weight: bold;
    }
    .text4{
        text-indent: 20px;
        font-size: 16px;
        font-weight: bold;
        height: 230px;
        overflow: hidden;
    }
} 
.all1:hover .small-wrap,
.all2:hover .small-wrap,
.all3:hover .small-wrap
{
    display: block;
}


.list3{
    padding:30px;
    .pic2{
        background: no-repeat;
        height: 140px;
        width: 140px;
        float: left;
    }
    .matter{
        margin-left: 150px;
        overflow: hidden; 
        .name{
            font-size: 15px;
            font-weight: bold;
            margin-bottom:15px;
            overflow: hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .introduce{
            font-size: 14px;
            overflow: hidden;
            height: 98px;
            text-overflow: ellipsis;
        }
    }
} 




.list4-1{
    border-right:  1px solid rgba(238, 237, 237, 1);
}
.height1{
    border-top:  1px solid rgba(238, 237, 237, 1);
    border-bottom: 1px solid rgba(238, 237, 237, 1);  
    height: 40px; 
    font-size: 13px; 
    flex: 1 1 auto;
    line-height: 40px;
    padding-left: 10px;
    width: 50%;
} 
.height2{
    border-top:  1px solid rgba(238, 237, 237, 1);
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px; 
}
.pic3{
    background: url(../img/pic34.png) no-repeat;
    background-size:13px 12.5px;
    height: 12.3px;
    width: 13px;
    display: inline-block;
}
.value{
    display: flex;
    flex-direction: row;

}
.list5{
    display: inline-block;
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 108px;
    padding-left: 10px;
    width: 40%;
}
.list9{
    font-size: 13px;
    height: 40px;
    font-weight: bold;
    border: 1px solid rgba(238, 237, 237, 1); 
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.row-wrap2{
    border-top: 1px solid rgba(238, 237, 237, 1);
    .row-wrap{
        padding: 0 10px;
        width: 140%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        border-left: 1px solid rgba(238, 237, 237, 1);
    } 
    .row-wrap3{
        border-top: 1px solid rgba(238, 237, 237, 1);
        border-bottom: 1px solid rgba(238, 237, 237, 1);
    }
}
.text5{
    
    font-size: 13px;
}
.text1{
    color:#f13426;
}
.hint{
    border-bottom: 1px solid rgba(238, 237, 237, 1); 
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px; 
    padding-left: 10px;
}

