%flex1{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}
%media{
    @media screen and (min-width:1200px){
        width: 1140px;
    }
    @media screen and (min-width:990px) and (max-width:1200px){
    width: 940px;
    }
    @media screen and (min-width:768px) and (max-width:989px){
        width: 720px;
    }
}
%color1{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: white;
}

.header{
    .wrap3{
        @extend %flex1;
        @extend %media;
        @media screen and (min-width:280px) and (max-width:767px){
        display: none;
        }
    }
    .telephone{
        color:rgba(41, 176, 120, 1);
    }
    .icon{
        margin-top: 2.5px;
        display: inline-block;
        .icon-WeChat {
            display:inline-block;
            height: 25px;
            width: 25px;
            background: url(../img/3.png) no-repeat;
        }
        .icon-QQ {
            margin-left: 12px;
            display:inline-block;
            height: 25px;
            width: 26px;
            background: url(../img/4.png) no-repeat;

        }
        .icon-micro-blog{
            margin-left: 12px;
            display:inline-block;
            height: 25px;
            width: 26px;
            background: url(../img/5.png) no-repeat;
        }
    }
}

.header-bottom{
    background-color: #29b078;
    height: 100px;
    @media screen and (min-width:280px) and (max-width:767px){
        height: 60px;
        line-height: 60px;
        .pic6{
            height: 34px;
            width: 88px;  
        }
    }
    .wrap4{
        max-width: 1140px;
        @extend %flex1;
        @extend %media;
        @media screen and (min-width:280px) and (max-width:767px){
            height: 60px;
            line-height: 60px;
            margin: 0 15px;
            .ul-navbar{
                display: none;
            }
        }
    }
}

.pic6{
    height: 50px;
    width: 110px;
    display: inline-block;
    @media screen and (min-width:280px) and (max-width:767px){
        height: 34px;
        width: 88px; 
    }
}
 
.ul-navbar{
    padding: 0;
    margin: 0; 
    a:hover,
    a:focus{   
        text-decoration: none;
        color: white;
    } 
    .list1-1,
    .list1-2,
    .list1-3,
    .list1-4{
        display:inline-block;
        margin-left: 60px;
        font-size: 16px; 
        color: white;  
        height: 97px;
        line-height: 97px;
    }
    .list1-1:focus{
        outline: none;
    }
    .list1-1:hover,
    .list1-2:hover,
    .list1-3:hover,
    .list1-4:hover{
        border-bottom: 4px solid white;
    } 
    .list1-1{
        border-bottom: 4px solid white;
    }
    
}

.wrap7{
    padding: 20px;
    @media screen and (min-width:767px){
        display: none; 
    }
    &:hover .nav-line{
        display: block;  
    }
    .nav-hamburg{
        display: inline-block;
        padding: 10px 11px;
        border-radius:3px;
        position: absolute;
        top: 6%;
        left:85%;
        margin-top: -17px;
        margin-left: -22px;
        &:hover{
            background-color: rgb(32, 141, 95);
        }
        .line{
            height: 2px;
            width: 22px;
            background-color: #1F7551;
            margin-bottom:4px;
            display: block;
        }
        span:last-child{
            margin: 0;
    
        }
    }
    .nav-line{
        display: none;
        margin-top:-20px; 
        padding:10px 0;
        text-align: center;
        list-style: none;
        background-color: #29B078;
        li{
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover{
            border-bottom: 1px solid white;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    .home{
        border-bottom: 1px solid white;
    }
}





.footer{
    background-color:#26a26f;
    width: 100%;
}
.footer-top{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    font-size: 15px;
    @extend %media;
    @media screen and (min-width:280px) and (max-width:767px){
    flex-direction: column;
    margin: 0 15px;
    }
    .footer-left{
        
        @media screen and (min-width:1200px){
            
            width: 350px;
        }
        @media screen and (min-width:990px) and (max-width:1200px){
            width: 320px;
        }
        @media screen and (min-width:768px) and (max-width:989px){
            width: 250px;
            }
        .empty{
            height: 30px;
            width: 60px;
            background-color: #26a26f;
            @media screen and (min-width:280px) and (max-width:767px){
                display: none;
                }
        }
        .list10{
            @extend %color1;
            margin-top: 23px;
            @media screen and (min-width:280px) and (max-width:767px){
            margin-top: 0px;
            }
        }
        .list11{
            @extend %color1;
            margin-top: 10px;
            margin-bottom:9px;
            @media screen and (min-width:280px) and (max-width:767px){
                margin-top: 0px;}
        }
    }
    .footer-middle{
        @media screen and (min-width:1200px){   
        }
        @media screen and (min-width:990px) and (max-width:1200px){
            width: 250px;
        }
        @media screen and (min-width:768px) and (max-width:989px){
            width: 250px;
            }
        @media screen and (min-width:280px) and (max-width:767px){
            margin-top: -27px;
            }
        .list12{
            display: inline-block;
            margin-top: 27px;
            height: 32px;
            line-height: 32px;
            color: white;
            @media screen and (min-width:280px) and (max-width:767px){
                margin-top: 6px;
                }
        }
        .list13{
            @extend %color1;
        }
        .list14{
            @extend %color1;
            margin-bottom: 17px;
        }
    }
    .footer-right{
        position: absolute;
        margin-top: -69px;
        top: 100px;
        right: 0;
        flex: 1 1 auto;
        @media screen and (min-width:280px) and (max-width:767px){
            position:static;
            margin-top: -18px;
            margin-bottom: 10px;
        }
        .text8{
            color: white;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            box-sizing: border-box;
            margin-bottom: 2px;   
        }
        
        .pic4{
            height: 94px;
            width: 94px;
            display: block;
        }
    }
}

.text8:hover,
.list10:hover,
.list11:hover,
.list12:hover,
.list13:hover,
.list14:hover{
border-bottom: 1px solid white;
}

.footer-bottom{
    border-top:#32c086 1.5px solid;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}






