html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding-top:4.4rem;
    padding-bottom: 5rem;  
}
button:hover,
button:focus,
buuton:active:focus,
button.focus,
button:active.focus,
button.active.focus{
    outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}

.header-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.4rem;
    width: 100%;
    background-color: #5FC0CD; 
    z-index: 10;
}
.header-btn-group {
    width: 142.5px;
    height: 3.5rem;
}
.header-btn-left {
    height: 3.5rem;
    background-color:#55A8B3;
    border: 0 ;
    border-radius: 2px;
    color: white;
}
.header-btn-right {
    height: 3.5rem;
    color: #5FC0CD;
    border: 0;
    background-color: white;
    border-radius: 2px;
}
.list-of-head,
.list-item {
    border: 5px solid #E1E5E7;
    background-color:white; 
    width: 100%;
    min-width: 0;
}
.list-of-head{
    text-align: center;
    height: 3.9rem;
}
.menu1 {
    height: 4rem;
    border-bottom: solid 1px #E1E5E7;
}
.list1 {
    padding: .6rem 0;
}
.list2 {
    padding-left: 1.8rem;
}
.list3 {
   padding: .6rem 0;
   border-bottom: solid 1px #E1E5E7;
}
.text-font1 {
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 6.5rem;
}
.text-font2 {
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 4.5rem;
}
.text-font3 {
    overflow: hidden;
    width: 8.6rem;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 1.4rem;
    float: right;
    color: rgb(250, 59, 12)
}
.text-font4 {
    overflow: hidden;
    width: 4.5rem;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 1.35rem;
}

.img1 {
    display: inline-block;
    width: 1.4rem;
    height: 1.1rem;
    background-image: url(img.png) ;
    background-position: 0 -3.35rem;
    background-size:4.4rem; 
}

.img2 {
    display: inline-block;
    width: 1rem;
    height:1.2rem;
    background-image: url(img.png) ;
    background-position: 0 0;
    background-size:3.6rem; 
}
.img3 {
    display: inline-block;
    width: 1.4rem;
    height:1.2rem;
    background-image: url(img.png) ;
    background-position: 0 -1.56rem;
    background-size:4rem; 
}
.img4 {
    width: 2.2rem;
    height:2.3rem;
    margin-top: -1.1rem;
    margin-left:-1.15;
    background: url(img.png) no-repeat;
    background-position: 0 -8.18rem;
    background-size:5.05rem;
    border: 0;
    position: absolute;
    top: 50%;
    right: 5%;
}
.img5 {
    display: inline-block;
    width: 2.35rem;
    height:2rem;
    background-image: url(img.png) ;
    background-position: 0 -10.45rem;
    background-size:4.75rem; 
    background-color: rgb(249, 250, 251);
    border: 0; 
}
.img6 {
    display: inline-block;
    width: 4.8rem;
    height:4.8rem;
    background: url(img.png) no-repeat;
    background-position:0 -12.85rem;
    background-size:4.75rem; 
    background-color: rgb(249, 250, 251);
    border: 0;
}
.img7 {
    display: inline-block;
    width: 2.1rem;
    height:2.1rem;
    background: url(img.png) no-repeat;
    background-position: 0 -5.1rem;
    background-size:4.7rem; 
    background-color: rgb(249, 250, 251); 
    border: 0;
}
.nav-bottom{
  z-index: 10;
  background-color:rgb(248, 250, 251) 
}
.left-bottom{
    padding-left: 15%;
}
.right-bottom{
    padding-right: 15%;
}
.bottom-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
}
.text-font8{
    font-size: .9rem;
    white-space: nowrap; 
    padding-top: .5rem;
    text-align: center;    
}
.text-font9{
    font-size: .9rem;
    white-space: nowrap;
    padding-top: .5rem; 
    text-align: center;
}
.middle-bottom{
    vertical-align: middle;
}